/* ==========================================================================
   Front-viewProjects Module
   --------------------------------------------------------------------------
   > 1240px
   ========================================================================== */
section#viewProjects{
	padding: 72px 0;
}
#viewProjects a{
	margin: 0 auto;
	height: 46px;
	font-size: 1.8em;
	line-height: 46px;
	width: 246px;
	border: 1px solid #000;
	float: none;
	display: block;
	text-align: center;
	color: #252525;
}
